.dashboard{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.dashboard__body{
    flex: 1;
    display: flex;
}
.dashboard__foldersPane{
    background-color: black;
    color: white;
    flex: 0.25;
    border-right: 1px dotted lightsteelblue;
}
.dashboard__createFolder{
    display: flex;
    justify-content: flex-end;
    padding: 13px;
    border-bottom: 1px solid lightgrey;
}
.dashboard__createFolder > .MuiSvgIcon-root{
    cursor: pointer;
}
.dashboard__notesPane{
    background-color: #222222;
    color: white;
    flex: 0.25;
    border-right: 1px dotted lightsteelblue;
    overflow: hidden;
}
.dashboard__createNotes{
    display: flex;
    justify-content: flex-end;
    padding: 13px;
    border-bottom: 1px solid lightgrey;
}
.dashboard__createNotes > .MuiSvgIcon-root{
    cursor: pointer;
}
.dashboard__note{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    position: relative;
}
.dashboard__note:hover{
    background-color: grey;
}
.dashboard__note:active{
    background-color: darkgray;
}
.dashboard__noteDelete{
    position: absolute;
    top: 10%;
    right: 1%;
    cursor: pointer !important;
    display: none !important;
}
.dashboard__note:hover .dashboard__noteDelete{
    display: block !important;
}
.dashboard__note > p{
    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 0.5rem;
}
.dashboard__selectedNotePane{
    flex: 0.5;
    padding: 20px;
}
.setActive{
    background-color: darkgray !important;
    border: 1px solid black;
}
.selected{
    background-color: black !important;
}